2021/ImportData/Demo/Solution/Sources/Workflows/5-ImportExcelwithFlow-137551AF-9648-EC11-8C62-6045BD8707EF.json
{
  "properties": {
    "connectionReferences": {
      "shared_excelonlinebusiness": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "pbo_sharedexcelonlinebusiness_a3a1e"
        },
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pbo_sharedcommondataserviceforapps_39cc8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3dfcbc9c-ad8b-4a7b-9ae9-95ce202c56c7"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Get_Data_from_Excel": {
          "runAfter": {},
          "metadata": {
            "01DS725YA556UBBTZQSJE23UWPEETXNFKJ": "/Datas/PPFS/5-Import Flow.xlsx",
            "operationMetadataId": "a6deb3b2-6e55-4ac7-975e-6fcf23a7573e",
            "tableId": "{9970CE9F-5E78-44CD-AC42-65FF5D313238}"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_excelonlinebusiness",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
            },
            "parameters": {
              "source": "me",
              "drive": "b!TOi5Z5A92keDBxgjdRVGZ7LI5cuYMJZGsTcLRC-mQrpjVNmunXlEQLOwVi9Sm5t7",
              "file": "01DS725YA556UBBTZQSJE23UWPEETXNFKJ",
              "table": "{9970CE9F-5E78-44CD-AC42-65FF5D313238}"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Each_Excel_Row": {
          "foreach": "@outputs('Get_Data_from_Excel')?['body/value']",
          "actions": {
            "Get_Catégories_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "03417d38-be4a-4b9f-bf44-3b7751a93db1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pbo_categories",
                  "$select": "pbo_categorieid",
                  "$filter": "pbo_libelle eq '@{items('Each_Excel_Row')?['Catégorie']}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Color_ID": {
              "runAfter": {
                "First_Catégories_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "01DS725YDKLIO3NUYO6NFKY574ZWY4EFF5": "/Datas/PPFS/5-OptionSetList.xlsx",
                "operationMetadataId": "8dc4a156-99d9-4338-9e5e-713c9588017f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_excelonlinebusiness",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                },
                "parameters": {
                  "source": "me",
                  "drive": "b!TOi5Z5A92keDBxgjdRVGZ7LI5cuYMJZGsTcLRC-mQrpjVNmunXlEQLOwVi9Sm5t7",
                  "file": "01DS725YDKLIO3NUYO6NFKY574ZWY4EFF5",
                  "table": "{A3F7201C-6820-4A0F-8787-A9E494C3E574}",
                  "$filter": "Value eq '@{items('Each_Excel_Row')?['Couleur']}'",
                  "$select": "code"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "First_Catégories_ID": {
              "runAfter": {
                "Get_Catégories_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8af4a78d-207b-4fce-b72b-7c7f70af509f"
              },
              "type": "Compose",
              "inputs": "@first(outputs('Get_Catégories_ID')?['body/value'])?['pbo_categorieid']"
            },
            "First_Color_ID": {
              "runAfter": {
                "Get_Color_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "98325f42-5f00-46c7-abee-46c640fb4fbc"
              },
              "type": "Compose",
              "inputs": "@first(outputs('Get_Color_ID')?['body/value'])?['Code']"
            },
            "Add_Livres": {
              "runAfter": {
                "First_Color_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "003f573a-0725-4ac4-b5d5-4a3a27393e75"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pbo_livres",
                  "item/pbo_titre": "@items('Each_Excel_Row')?['Livre']",
                  "item/pbo_categorieID@odata.bind": "categories(@{outputs('First_Catégories_ID')})",
                  "item/pbo_couleurcouverture": "@outputs('First_Color_ID')",
                  "item/pbo_nombredepage": "@items('Each_Excel_Row')?['#Page']",
                  "item/pbo_prix": "@items('Each_Excel_Row')?['Price']",
                  "item/pbo_reference": "@items('Each_Excel_Row')?['Ref']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Get_Data_from_Excel": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f96571f6-fe91-4bc5-bc22-d95dd4629045"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 5
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}